USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 09/02/2024 17:30:11 ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[BOOK_AUTHORS]    Script Date: 09/02/2024 17:30:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_AUTHORS](
	[BookID] [int] NULL,
	[AuthorName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_COPIES]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_COPIES](
	[BookID] [int] NULL,
	[BranchID] [int] NULL,
	[Number_Of_Copies] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_LOANS]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_LOANS](
	[BookID] [int] NULL,
	[BranchID] [int] NULL,
	[CardNo] [int] NULL,
	[DateOut] [date] NULL,
	[DateDue] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[PublisherName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORROWER]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROWER](
	[CardNo] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRARY_BRANCH]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARY_BRANCH](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[PublisherName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK_AUTHORS]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[BOOKS] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_COPIES]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[BOOKS] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_COPIES]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[LIBRARY_BRANCH] ([BranchID])
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[BOOKS] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[LIBRARY_BRANCH] ([BranchID])
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD FOREIGN KEY([CardNo])
REFERENCES [dbo].[BORROWER] ([CardNo])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([PublisherName])
REFERENCES [dbo].[PUBLISHER] ([PublisherName])
GO
/****** Object:  StoredProcedure [dbo].[GetBorrowersWithNoBooks]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure C: Retrieve the names of all borrowers who do not have any books checked out
CREATE PROCEDURE [dbo].[GetBorrowersWithNoBooks]
AS
BEGIN
    SELECT BR.Name
    FROM BORROWER AS BR
    LEFT JOIN BOOK_LOANS AS BL ON BR.CardNo = BL.CardNo
    WHERE BL.BookID IS NULL;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetCopiesOfTheLostTribeAtEachBranch]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure B: Get the number of copies of "The Lost Tribe" at each library branch
CREATE PROCEDURE [dbo].[GetCopiesOfTheLostTribeAtEachBranch]
AS
BEGIN
    SELECT LB.BranchName, SUM(BC.Number_Of_Copies) AS TotalCopies
    FROM BOOK_COPIES AS BC
    INNER JOIN LIBRARY_BRANCH AS LB ON BC.BranchID = LB.BranchID
    INNER JOIN BOOKS AS B ON BC.BookID = B.BookID
    WHERE B.Title = 'The Lost Tribe'
    GROUP BY LB.BranchName;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetCopiesOfTheLostTribeAtSharpstown]    Script Date: 09/02/2024 17:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure A: Get the number of copies of "The Lost Tribe" at "Sharpstown" branch
CREATE PROCEDURE [dbo].[GetCopiesOfTheLostTribeAtSharpstown]
AS
BEGIN
    SELECT BC.Number_Of_Copies
    FROM BOOK_COPIES AS BC
    INNER JOIN LIBRARY_BRANCH AS LB ON BC.BranchID = LB.BranchID
    INNER JOIN BOOKS AS B ON BC.BookID = B.BookID
    WHERE B.Title = 'The Lost Tribe' AND LB.BranchName = 'Sharpstown';
END;

GO
USE [master]
GO
